<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.howbuy.tms.orders.infrastructure.dao.mapper.TransferDealOrderPoMapper">
  <resultMap id="BaseResultMap" type="com.howbuy.tms.orders.infrastructure.dao.po.TransferDealOrderPo">
    <id column="TRANSFER_NO" jdbcType="VARCHAR" property="transferNo" />
    <result column="TRANSFER_TYPE" jdbcType="CHAR" property="transferType" />
    <result column="TX_ACCT_NO" jdbcType="VARCHAR" property="txAcctNo" />
    <result column="CUST_NAME" jdbcType="VARCHAR" property="custName" />
    <result column="INVST_TYPE" jdbcType="CHAR" property="invstType" />
    <result column="DIS_CODE" jdbcType="VARCHAR" property="disCode" />
    <result column="PRODUCT_CODE" jdbcType="VARCHAR" property="productCode" />
    <result column="PRODUCT_NAME" jdbcType="VARCHAR" property="productName" />
    <result column="T_PRODUCT_CODE" jdbcType="VARCHAR" property="tProductCode" />
    <result column="T_PRODUCT_NAME" jdbcType="VARCHAR" property="tProductName" />
    <result column="APP_TATIO" jdbcType="NUMERIC" property="appTatio" />
    <result column="CP_ACCT_NO" jdbcType="VARCHAR" property="cpAcctNo" />
    <result column="PROTOCOL_NO" jdbcType="VARCHAR" property="protocolNo" />
    <result column="TA_TRADE_DT" jdbcType="VARCHAR" property="taTradeDt" />
    <result column="REDEEM_DEAL_NO" jdbcType="VARCHAR" property="redeemDealNo" />
    <result column="PURCHASE_DEAL_NO" jdbcType="VARCHAR" property="purchaseDealNo" />
    <result column="SETTLE_DT" jdbcType="VARCHAR" property="settleDt" />
    <result column="REDEEM_ACK_DT" jdbcType="VARCHAR" property="redeemAckDt" />
    <result column="REDEEM_ACK_AMT" jdbcType="NUMERIC" property="redeemAckAmt" />
    <result column="REDEEM_FEE" jdbcType="NUMERIC" property="redeemFee" />
    <result column="PURCHASE_ACK_DT" jdbcType="VARCHAR" property="purchaseAckDt" />
    <result column="PURCHASE_ACK_AMT" jdbcType="NUMERIC" property="purchaseAckAmt" />
    <result column="PURCHASE_FEE" jdbcType="NUMERIC" property="purchaseFee" />
    <result column="FEE" jdbcType="NUMERIC" property="fee" />
    <result column="ADVISER_FEE" jdbcType="NUMERIC" property="adviserFee" />
    <result column="REFUND_AMT" jdbcType="NUMERIC" property="refundAmt" />
    <result column="REDEEM_STATUS" jdbcType="CHAR" property="redeemStatus" />
    <result column="PURCHASE_STATUS" jdbcType="CHAR" property="purchaseStatus" />
    <result column="PROCESS_STATUS" jdbcType="CHAR" property="processStatus" />
    <result column="FAIL_DESC" jdbcType="VARCHAR" property="failDesc" />
    <result column="APP_DATE" jdbcType="VARCHAR" property="appDate" />
    <result column="APP_TIME" jdbcType="VARCHAR" property="appTime" />
    <result column="ORDER_STATUS" jdbcType="VARCHAR" property="orderStatus" />
    <result column="BANK_CODE" jdbcType="VARCHAR" property="bankCode" />
    <result column="BANK_ACCT" jdbcType="VARCHAR" property="bankAcct" />
    <result column="TX_CODE" jdbcType="VARCHAR" property="txCode" />
    <result column="EXTERNAL_DEAL_NO" jdbcType="VARCHAR" property="externalDealNo" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    TRANSFER_NO, TRANSFER_TYPE, TX_ACCT_NO, CUST_NAME, INVST_TYPE, DIS_CODE, PRODUCT_CODE, 
    PRODUCT_NAME, T_PRODUCT_CODE, T_PRODUCT_NAME, APP_TATIO, CP_ACCT_NO, PROTOCOL_NO, 
    TA_TRADE_DT, REDEEM_DEAL_NO, PURCHASE_DEAL_NO, SETTLE_DT, REDEEM_ACK_DT, REDEEM_ACK_AMT, 
    REDEEM_FEE, PURCHASE_ACK_DT, PURCHASE_ACK_AMT, PURCHASE_FEE, FEE, ADVISER_FEE, REFUND_AMT, 
    REDEEM_STATUS, PURCHASE_STATUS, PROCESS_STATUS, FAIL_DESC, APP_DATE, APP_TIME, ORDER_STATUS, 
    BANK_CODE, BANK_ACCT, TX_CODE, EXTERNAL_DEAL_NO, CREATE_TIME, UPDATE_TIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from DOCKER_IT56_ORDERS1.TRANSFER_DEAL_ORDER
    where TRANSFER_NO = #{transferNo,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from DOCKER_IT56_ORDERS1.TRANSFER_DEAL_ORDER
    where TRANSFER_NO = #{transferNo,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.howbuy.tms.orders.infrastructure.dao.po.TransferDealOrderPo">
    insert into DOCKER_IT56_ORDERS1.TRANSFER_DEAL_ORDER (TRANSFER_NO, TRANSFER_TYPE, TX_ACCT_NO, 
      CUST_NAME, INVST_TYPE, DIS_CODE, 
      PRODUCT_CODE, PRODUCT_NAME, T_PRODUCT_CODE, 
      T_PRODUCT_NAME, APP_TATIO, CP_ACCT_NO, 
      PROTOCOL_NO, TA_TRADE_DT, REDEEM_DEAL_NO, 
      PURCHASE_DEAL_NO, SETTLE_DT, REDEEM_ACK_DT, 
      REDEEM_ACK_AMT, REDEEM_FEE, PURCHASE_ACK_DT, 
      PURCHASE_ACK_AMT, PURCHASE_FEE, FEE, 
      ADVISER_FEE, REFUND_AMT, REDEEM_STATUS, 
      PURCHASE_STATUS, PROCESS_STATUS, FAIL_DESC, 
      APP_DATE, APP_TIME, ORDER_STATUS, 
      BANK_CODE, BANK_ACCT, TX_CODE, 
      EXTERNAL_DEAL_NO, CREATE_TIME, UPDATE_TIME
      )
    values (#{transferNo,jdbcType=VARCHAR}, #{transferType,jdbcType=CHAR}, #{txAcctNo,jdbcType=VARCHAR}, 
      #{custName,jdbcType=VARCHAR}, #{invstType,jdbcType=CHAR}, #{disCode,jdbcType=VARCHAR}, 
      #{productCode,jdbcType=VARCHAR}, #{productName,jdbcType=VARCHAR}, #{tProductCode,jdbcType=VARCHAR}, 
      #{tProductName,jdbcType=VARCHAR}, #{appTatio,jdbcType=NUMERIC}, #{cpAcctNo,jdbcType=VARCHAR}, 
      #{protocolNo,jdbcType=VARCHAR}, #{taTradeDt,jdbcType=VARCHAR}, #{redeemDealNo,jdbcType=VARCHAR}, 
      #{purchaseDealNo,jdbcType=VARCHAR}, #{settleDt,jdbcType=VARCHAR}, #{redeemAckDt,jdbcType=VARCHAR}, 
      #{redeemAckAmt,jdbcType=NUMERIC}, #{redeemFee,jdbcType=NUMERIC}, #{purchaseAckDt,jdbcType=VARCHAR}, 
      #{purchaseAckAmt,jdbcType=NUMERIC}, #{purchaseFee,jdbcType=NUMERIC}, #{fee,jdbcType=NUMERIC}, 
      #{adviserFee,jdbcType=NUMERIC}, #{refundAmt,jdbcType=NUMERIC}, #{redeemStatus,jdbcType=CHAR}, 
      #{purchaseStatus,jdbcType=CHAR}, #{processStatus,jdbcType=CHAR}, #{failDesc,jdbcType=VARCHAR}, 
      #{appDate,jdbcType=VARCHAR}, #{appTime,jdbcType=VARCHAR}, #{orderStatus,jdbcType=VARCHAR}, 
      #{bankCode,jdbcType=VARCHAR}, #{bankAcct,jdbcType=VARCHAR}, #{txCode,jdbcType=VARCHAR}, 
      #{externalDealNo,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.howbuy.tms.orders.infrastructure.dao.po.TransferDealOrderPo">
    insert into DOCKER_IT56_ORDERS1.TRANSFER_DEAL_ORDER
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="transferNo != null">
        TRANSFER_NO,
      </if>
      <if test="transferType != null">
        TRANSFER_TYPE,
      </if>
      <if test="txAcctNo != null">
        TX_ACCT_NO,
      </if>
      <if test="custName != null">
        CUST_NAME,
      </if>
      <if test="invstType != null">
        INVST_TYPE,
      </if>
      <if test="disCode != null">
        DIS_CODE,
      </if>
      <if test="productCode != null">
        PRODUCT_CODE,
      </if>
      <if test="productName != null">
        PRODUCT_NAME,
      </if>
      <if test="tProductCode != null">
        T_PRODUCT_CODE,
      </if>
      <if test="tProductName != null">
        T_PRODUCT_NAME,
      </if>
      <if test="appTatio != null">
        APP_TATIO,
      </if>
      <if test="cpAcctNo != null">
        CP_ACCT_NO,
      </if>
      <if test="protocolNo != null">
        PROTOCOL_NO,
      </if>
      <if test="taTradeDt != null">
        TA_TRADE_DT,
      </if>
      <if test="redeemDealNo != null">
        REDEEM_DEAL_NO,
      </if>
      <if test="purchaseDealNo != null">
        PURCHASE_DEAL_NO,
      </if>
      <if test="settleDt != null">
        SETTLE_DT,
      </if>
      <if test="redeemAckDt != null">
        REDEEM_ACK_DT,
      </if>
      <if test="redeemAckAmt != null">
        REDEEM_ACK_AMT,
      </if>
      <if test="redeemFee != null">
        REDEEM_FEE,
      </if>
      <if test="purchaseAckDt != null">
        PURCHASE_ACK_DT,
      </if>
      <if test="purchaseAckAmt != null">
        PURCHASE_ACK_AMT,
      </if>
      <if test="purchaseFee != null">
        PURCHASE_FEE,
      </if>
      <if test="fee != null">
        FEE,
      </if>
      <if test="adviserFee != null">
        ADVISER_FEE,
      </if>
      <if test="refundAmt != null">
        REFUND_AMT,
      </if>
      <if test="redeemStatus != null">
        REDEEM_STATUS,
      </if>
      <if test="purchaseStatus != null">
        PURCHASE_STATUS,
      </if>
      <if test="processStatus != null">
        PROCESS_STATUS,
      </if>
      <if test="failDesc != null">
        FAIL_DESC,
      </if>
      <if test="appDate != null">
        APP_DATE,
      </if>
      <if test="appTime != null">
        APP_TIME,
      </if>
      <if test="orderStatus != null">
        ORDER_STATUS,
      </if>
      <if test="bankCode != null">
        BANK_CODE,
      </if>
      <if test="bankAcct != null">
        BANK_ACCT,
      </if>
      <if test="txCode != null">
        TX_CODE,
      </if>
      <if test="externalDealNo != null">
        EXTERNAL_DEAL_NO,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="transferNo != null">
        #{transferNo,jdbcType=VARCHAR},
      </if>
      <if test="transferType != null">
        #{transferType,jdbcType=CHAR},
      </if>
      <if test="txAcctNo != null">
        #{txAcctNo,jdbcType=VARCHAR},
      </if>
      <if test="custName != null">
        #{custName,jdbcType=VARCHAR},
      </if>
      <if test="invstType != null">
        #{invstType,jdbcType=CHAR},
      </if>
      <if test="disCode != null">
        #{disCode,jdbcType=VARCHAR},
      </if>
      <if test="productCode != null">
        #{productCode,jdbcType=VARCHAR},
      </if>
      <if test="productName != null">
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="tProductCode != null">
        #{tProductCode,jdbcType=VARCHAR},
      </if>
      <if test="tProductName != null">
        #{tProductName,jdbcType=VARCHAR},
      </if>
      <if test="appTatio != null">
        #{appTatio,jdbcType=NUMERIC},
      </if>
      <if test="cpAcctNo != null">
        #{cpAcctNo,jdbcType=VARCHAR},
      </if>
      <if test="protocolNo != null">
        #{protocolNo,jdbcType=VARCHAR},
      </if>
      <if test="taTradeDt != null">
        #{taTradeDt,jdbcType=VARCHAR},
      </if>
      <if test="redeemDealNo != null">
        #{redeemDealNo,jdbcType=VARCHAR},
      </if>
      <if test="purchaseDealNo != null">
        #{purchaseDealNo,jdbcType=VARCHAR},
      </if>
      <if test="settleDt != null">
        #{settleDt,jdbcType=VARCHAR},
      </if>
      <if test="redeemAckDt != null">
        #{redeemAckDt,jdbcType=VARCHAR},
      </if>
      <if test="redeemAckAmt != null">
        #{redeemAckAmt,jdbcType=NUMERIC},
      </if>
      <if test="redeemFee != null">
        #{redeemFee,jdbcType=NUMERIC},
      </if>
      <if test="purchaseAckDt != null">
        #{purchaseAckDt,jdbcType=VARCHAR},
      </if>
      <if test="purchaseAckAmt != null">
        #{purchaseAckAmt,jdbcType=NUMERIC},
      </if>
      <if test="purchaseFee != null">
        #{purchaseFee,jdbcType=NUMERIC},
      </if>
      <if test="fee != null">
        #{fee,jdbcType=NUMERIC},
      </if>
      <if test="adviserFee != null">
        #{adviserFee,jdbcType=NUMERIC},
      </if>
      <if test="refundAmt != null">
        #{refundAmt,jdbcType=NUMERIC},
      </if>
      <if test="redeemStatus != null">
        #{redeemStatus,jdbcType=CHAR},
      </if>
      <if test="purchaseStatus != null">
        #{purchaseStatus,jdbcType=CHAR},
      </if>
      <if test="processStatus != null">
        #{processStatus,jdbcType=CHAR},
      </if>
      <if test="failDesc != null">
        #{failDesc,jdbcType=VARCHAR},
      </if>
      <if test="appDate != null">
        #{appDate,jdbcType=VARCHAR},
      </if>
      <if test="appTime != null">
        #{appTime,jdbcType=VARCHAR},
      </if>
      <if test="orderStatus != null">
        #{orderStatus,jdbcType=VARCHAR},
      </if>
      <if test="bankCode != null">
        #{bankCode,jdbcType=VARCHAR},
      </if>
      <if test="bankAcct != null">
        #{bankAcct,jdbcType=VARCHAR},
      </if>
      <if test="txCode != null">
        #{txCode,jdbcType=VARCHAR},
      </if>
      <if test="externalDealNo != null">
        #{externalDealNo,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.howbuy.tms.orders.infrastructure.dao.po.TransferDealOrderPo">
    update DOCKER_IT56_ORDERS1.TRANSFER_DEAL_ORDER
    <set>
      <if test="transferType != null">
        TRANSFER_TYPE = #{transferType,jdbcType=CHAR},
      </if>
      <if test="txAcctNo != null">
        TX_ACCT_NO = #{txAcctNo,jdbcType=VARCHAR},
      </if>
      <if test="custName != null">
        CUST_NAME = #{custName,jdbcType=VARCHAR},
      </if>
      <if test="invstType != null">
        INVST_TYPE = #{invstType,jdbcType=CHAR},
      </if>
      <if test="disCode != null">
        DIS_CODE = #{disCode,jdbcType=VARCHAR},
      </if>
      <if test="productCode != null">
        PRODUCT_CODE = #{productCode,jdbcType=VARCHAR},
      </if>
      <if test="productName != null">
        PRODUCT_NAME = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="tProductCode != null">
        T_PRODUCT_CODE = #{tProductCode,jdbcType=VARCHAR},
      </if>
      <if test="tProductName != null">
        T_PRODUCT_NAME = #{tProductName,jdbcType=VARCHAR},
      </if>
      <if test="appTatio != null">
        APP_TATIO = #{appTatio,jdbcType=NUMERIC},
      </if>
      <if test="cpAcctNo != null">
        CP_ACCT_NO = #{cpAcctNo,jdbcType=VARCHAR},
      </if>
      <if test="protocolNo != null">
        PROTOCOL_NO = #{protocolNo,jdbcType=VARCHAR},
      </if>
      <if test="taTradeDt != null">
        TA_TRADE_DT = #{taTradeDt,jdbcType=VARCHAR},
      </if>
      <if test="redeemDealNo != null">
        REDEEM_DEAL_NO = #{redeemDealNo,jdbcType=VARCHAR},
      </if>
      <if test="purchaseDealNo != null">
        PURCHASE_DEAL_NO = #{purchaseDealNo,jdbcType=VARCHAR},
      </if>
      <if test="settleDt != null">
        SETTLE_DT = #{settleDt,jdbcType=VARCHAR},
      </if>
      <if test="redeemAckDt != null">
        REDEEM_ACK_DT = #{redeemAckDt,jdbcType=VARCHAR},
      </if>
      <if test="redeemAckAmt != null">
        REDEEM_ACK_AMT = #{redeemAckAmt,jdbcType=NUMERIC},
      </if>
      <if test="redeemFee != null">
        REDEEM_FEE = #{redeemFee,jdbcType=NUMERIC},
      </if>
      <if test="purchaseAckDt != null">
        PURCHASE_ACK_DT = #{purchaseAckDt,jdbcType=VARCHAR},
      </if>
      <if test="purchaseAckAmt != null">
        PURCHASE_ACK_AMT = #{purchaseAckAmt,jdbcType=NUMERIC},
      </if>
      <if test="purchaseFee != null">
        PURCHASE_FEE = #{purchaseFee,jdbcType=NUMERIC},
      </if>
      <if test="fee != null">
        FEE = #{fee,jdbcType=NUMERIC},
      </if>
      <if test="adviserFee != null">
        ADVISER_FEE = #{adviserFee,jdbcType=NUMERIC},
      </if>
      <if test="refundAmt != null">
        REFUND_AMT = #{refundAmt,jdbcType=NUMERIC},
      </if>
      <if test="redeemStatus != null">
        REDEEM_STATUS = #{redeemStatus,jdbcType=CHAR},
      </if>
      <if test="purchaseStatus != null">
        PURCHASE_STATUS = #{purchaseStatus,jdbcType=CHAR},
      </if>
      <if test="processStatus != null">
        PROCESS_STATUS = #{processStatus,jdbcType=CHAR},
      </if>
      <if test="failDesc != null">
        FAIL_DESC = #{failDesc,jdbcType=VARCHAR},
      </if>
      <if test="appDate != null">
        APP_DATE = #{appDate,jdbcType=VARCHAR},
      </if>
      <if test="appTime != null">
        APP_TIME = #{appTime,jdbcType=VARCHAR},
      </if>
      <if test="orderStatus != null">
        ORDER_STATUS = #{orderStatus,jdbcType=VARCHAR},
      </if>
      <if test="bankCode != null">
        BANK_CODE = #{bankCode,jdbcType=VARCHAR},
      </if>
      <if test="bankAcct != null">
        BANK_ACCT = #{bankAcct,jdbcType=VARCHAR},
      </if>
      <if test="txCode != null">
        TX_CODE = #{txCode,jdbcType=VARCHAR},
      </if>
      <if test="externalDealNo != null">
        EXTERNAL_DEAL_NO = #{externalDealNo,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where TRANSFER_NO = #{transferNo,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.howbuy.tms.orders.infrastructure.dao.po.TransferDealOrderPo">
    update DOCKER_IT56_ORDERS1.TRANSFER_DEAL_ORDER
    set TRANSFER_TYPE = #{transferType,jdbcType=CHAR},
      TX_ACCT_NO = #{txAcctNo,jdbcType=VARCHAR},
      CUST_NAME = #{custName,jdbcType=VARCHAR},
      INVST_TYPE = #{invstType,jdbcType=CHAR},
      DIS_CODE = #{disCode,jdbcType=VARCHAR},
      PRODUCT_CODE = #{productCode,jdbcType=VARCHAR},
      PRODUCT_NAME = #{productName,jdbcType=VARCHAR},
      T_PRODUCT_CODE = #{tProductCode,jdbcType=VARCHAR},
      T_PRODUCT_NAME = #{tProductName,jdbcType=VARCHAR},
      APP_TATIO = #{appTatio,jdbcType=NUMERIC},
      CP_ACCT_NO = #{cpAcctNo,jdbcType=VARCHAR},
      PROTOCOL_NO = #{protocolNo,jdbcType=VARCHAR},
      TA_TRADE_DT = #{taTradeDt,jdbcType=VARCHAR},
      REDEEM_DEAL_NO = #{redeemDealNo,jdbcType=VARCHAR},
      PURCHASE_DEAL_NO = #{purchaseDealNo,jdbcType=VARCHAR},
      SETTLE_DT = #{settleDt,jdbcType=VARCHAR},
      REDEEM_ACK_DT = #{redeemAckDt,jdbcType=VARCHAR},
      REDEEM_ACK_AMT = #{redeemAckAmt,jdbcType=NUMERIC},
      REDEEM_FEE = #{redeemFee,jdbcType=NUMERIC},
      PURCHASE_ACK_DT = #{purchaseAckDt,jdbcType=VARCHAR},
      PURCHASE_ACK_AMT = #{purchaseAckAmt,jdbcType=NUMERIC},
      PURCHASE_FEE = #{purchaseFee,jdbcType=NUMERIC},
      FEE = #{fee,jdbcType=NUMERIC},
      ADVISER_FEE = #{adviserFee,jdbcType=NUMERIC},
      REFUND_AMT = #{refundAmt,jdbcType=NUMERIC},
      REDEEM_STATUS = #{redeemStatus,jdbcType=CHAR},
      PURCHASE_STATUS = #{purchaseStatus,jdbcType=CHAR},
      PROCESS_STATUS = #{processStatus,jdbcType=CHAR},
      FAIL_DESC = #{failDesc,jdbcType=VARCHAR},
      APP_DATE = #{appDate,jdbcType=VARCHAR},
      APP_TIME = #{appTime,jdbcType=VARCHAR},
      ORDER_STATUS = #{orderStatus,jdbcType=VARCHAR},
      BANK_CODE = #{bankCode,jdbcType=VARCHAR},
      BANK_ACCT = #{bankAcct,jdbcType=VARCHAR},
      TX_CODE = #{txCode,jdbcType=VARCHAR},
      EXTERNAL_DEAL_NO = #{externalDealNo,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
    where TRANSFER_NO = #{transferNo,jdbcType=VARCHAR}
  </update>
</mapper>